@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}
.red{
    color: red;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    color: rgb(13, 19, 33);
    text-align: center;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:rgba(13, 19, 33, 0.7);
    text-align: center;
}

/* Nav styles */
.site-title{
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
nav button{
    border: 1px solid rgba(13, 19, 33, 0.8);
    border-radius: 8px;
    padding: 17px 24px;
    background-color: white;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
}

/* banner style */
.banner{
    height: 650px;
    background-image: url("../assets/Hero-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0;
    padding: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
    max-width: 1000px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.banner button{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 21px 24px;
    color: white;
    background-color: rgb(13, 19, 33);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Why web development style */
.why{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 100px;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}

.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    padding: 50px;
}
.content-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:rgba(13, 19, 33, 0.7);
}
.first{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.second{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.third{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid rgba(13, 19, 33, 0.7);
    padding: 12px 20px;
    color: rgb(13, 19, 33);
    background-color: rgba(13, 19, 33, 0.0);

}

/* My inspiration */
.inspiration{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.video-container{
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspiration-content{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.inspiration-video{
    border-radius: 16px;
}